.icon-ec-nav:before {
  content: "P";
}
.icon-donation-nav:before {
  content: "G";
}
.icon-settings-nav:before {
  content: "t";
}
.icon-home-nav:before {
  content: "T";
}
.icon-directory-nav:before {
  content: "S";
}
.icon-jobs-nav:before {
  content: "Q";
}
.icon-memory-nav:before {
  content: "n";
}
.icon-whatsapp-share:before {
  content: "H";
}
.icon-nl-nav:before {
  content: 'u';
}
.icon-fbshare:before {
  content: "[";
}
.icon-lnshare:before {
  content: "]";
}
.icon-message:before{
  content: "1";
}
.icon-hexagon:before{
  content: "5";
}

.icon-hand:before {
  content: "j";
}

.icon-eyes:before {
  content: "2";
}

.icon-linkedin:before {
  content: "]";
}

.icon-twitter:before {
  content: "\\";
}

.icon-fb:before {
  content: "[";
}

.icon-copy-link:before{
  content: "v";
}
.icon-people-search:before{
  content: "S";
}
.icon-posts-search:before{
  content: "B";
}
.icon-global-search-arrow:before {
  content: "7";
}
.icon-dir-batch:before{
  content: "h";
}
.icon-dir-search:before{
  content: "U";
}
.icon-institute:before{
  content: "&";
}
.icon-people1:before{
  content: ".";
}
.icon-alum:before {
  content: "Y";
}
.icon-prof:before {
  content: "Z";
}
.icon-student-cap:before {
  content: ":";
}
.icon-contact:before {
  content: "3";
}
.icon-global-edit:before{
  content: "y";
}
.icon-default-nav:before {
  content: "E";
}
.icon-smiley:before{
  content: "V";
}
.icon-report:before{
  content: "z";
}
.icon-manual-approval:before{
  content: "S";
}
.icon-thanks:before{
  content: "V";
}
.icon-work-profile:before{
  content: "R";
}
.icon-locate:before{
  content: "I";
}
.icon-thumbs-up:before{
  content: "c";
}
.icon-thumbs-down:before{
  content: "a";
}
.icon-N:before{
  content: "N";
}
.icon-x:before {
  content: "x";
}
.icon-O:before{
  content: "O";
}
.icon-dot:before {
  content: ".";
}
.icon-u:before {
  content: "u";
}
